{% spaceless %}


  
        {% block choice_widget_expanded %}
{% block form_label %}
        <i></i>
{% endblock form_label %}
        {{ form_label(form) }}
        <ul>
        {% for child in form %}
            <li class="radio inline">
                {{ form_widget(child) }}
                {{ form_label(child) }}
            </li>
        {% endfor %}
        </ul>
        {% endblock choice_widget_expanded %}
{% endspaceless %}
