
{% block gallery %}

  <h3>{{ "tab.gallery"|trans }}</h3>
  <div class="tab-content">
    <div id="gallery" class="row gallery">
      
      {% for picture in pictures %}  
          {% include "@App/ajax/gallery.html.twig" %}
      {% endfor %}

    </div>
  </div>

{% endblock gallery %}