{# src/tvBundle/Resources/content/logout.html.twig #}


{% block logout %}

  <h3>Déconnection</h3>
  <div class="tab-content">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>

{% endblock logout %}