
{% block picture_tag %}

<h3>Tags</h3>
<div class="tab-content">     
  
  <div class="row">
</div>  
  <script>
    /*
    $("#geoform").submit(function(e){

        e.preventDefault();
        var formSerialize = $(this).serialize();
        $.post(url, formSerialize, function(response){
       //your callback here
       alert(response);

       },'JSON');
    });
    */
  </script>
  
</div>

{% endblock picture_tag %}