{# src/tvBundle/Resources/content/image.html.twig #}

{#
picture : entity
#}

{% block picture %}

  <h3>{{ "tab.image"|trans }}</h3>
  <div class="tab-content">
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ asset(picture.file)}}" class="item">
          <img src="{{ asset(picture.file)}}" alt="...">
          
        </a>
      </div>
    </div>
  </div>

{% endblock picture %}