{# src/tvBundle/Resources/content/search.html.twig #}

{% block search %}

  <h3>{{ "tab.search"|trans }}</h3>
  <div class="tab-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Où</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="country">Pays:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="country" placeholder="" data-role="tagsinput">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="state">Région:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="state" placeholder="" data-role="tagsinput">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="city">Localité:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="city" placeholder="" data-role="tagsinput">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="place">Rue, place, lieu-dit:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="place" placeholder="" data-role="tagsinput">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Quand</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3">de:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="année">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="mois">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="jour">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">à:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="année">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="mois">
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="country" placeholder="jour">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Quoi</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-3" for="tags-input">Tags:</label>
            <div class="col-sm-9">
            <input type="text" class="form-control" id="tags-input" placeholder="" data-role="tagsinput">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock search %}