
{% block tag %}

<h3>Tags</h3>
<div class="tab-content">     
  
  <div class="form-group">
    <label for="tagsinput">Tags:</label>
    <input data-role="tagsinput" type="text" id="tagsinput" name="test" required="required" />
  </div>
  
  <script>
    var repoTags = eval({{ repoTags|json_encode|raw }});
  </script>
  
</div>

{% endblock tag %}