
{% block talk %}

<h3>Talk</h3>
<div class="tab-content">   

    
    {{ form(talk_form) }}
  
        <div id="msglist">
      {% for talk in talks %}  
          {% include "@App/ajax/talk.html.twig" %}
      {% endfor %}
        </div>      
  
  <script>
    $("#talkform").submit(function(e){
        e.preventDefault();
        var formSerialize = $(this).serialize();
        $.post('', formSerialize, function(response) {
             $("#appbundle_talk_message").val('');
             $("#msglist").prepend( response.block )
//             console.log(response);
       },'JSON');
    });
  </script>
  
</div>

{% endblock talk %}