

body {
    background: #111;
    color: #eee;
}

#map {
    height: 200px;
}

/**** PANEL ****/
.panel-default {
    background-color: inherit;
    border: 2px solid #222;
}
.panel-default > .panel-heading {
    background-color: #222;
    color: #eee;
    border: 0;
}
.panel-body {
    padding: 15px 2px;
}

button, input, optgroup, select, textarea {
  color: #222;
}

.message {
    background-color: #ddd;
    color: #111;
    padding: 10px;
    margin-top: 25px;
}

.firstUpper:first-letter {
  text-transform: uppercase;
}